*{

    padding: 0%;
    margin: 0%;

}



body{

    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



#con,#con1{

    
    border: solid 2px white;
    border-radius: 15px 0px;
    padding: 2%;
    text-align: center;
  

}



p{

    padding-top: 5px ;
    text-align: center;

}



input{

    padding: 5px;
    display: block;
    margin: 2px auto;
    width: 88%;
 
} 



